<app-default-login-layout 
    title="Sing in and start today! "
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
title="Login into your account"
primaryBtnText="Login Now"
secondaryBtnText="Signup Now"

>
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="email"
            inputName="name"
            type="email"
            label="Your Name"
            placeholder="Jonh Doe">

            <img src="/email.svg" alt="">
        </app-primary-input>
        <app-primary-input
            formControlName="paswordConfirm"
            inputName="paswordConfirm"
            type="password"
            label="Confirm your Password">
            <img src="/cadeado.svg" alt="">
    </app-primary-input>
    </form>
</app-default-login-layout>
